.label {
  text-align: left;
  font-size: 24px;
}
.header-container{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.btn-container{
  display: flex;
  align-items: center;

}

.Add {
  height: 50%;
  font-size: 15px;
  text-decoration: none;
}

.Delete {
  height: 50%;
  margin-left: 20px;
  font-size: 15px;
  text-decoration: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/** ===== Product section====*/

.products-container{
  flex-wrap: wrap;
  display: flex;
  height: fit-content;
}

.product-item{
  width: 20%;
  height: 20vh;
  margin: 7px;
  border: 2px black solid;
  display: grid;
  grid-template-rows: 1fr 4fr;
  
}

.input[checkbox]{
  align-items: left;
  margin-left: 8px;
}

.footer-container {
  margin: 250px;
}
